// @import url("http://fonts.googleapis.com/css?family=Raleway:400,300");

@import url("http://fonts.googleapis.com/css?family=Overlock:900|Passion+One:400,700");
$green: #5AD2C2;
$red: #FF5E5C;
$grey: #EEEEEE;
$blue: #6EC8C7;
$yellow: #FFE695;

/////////////////////Mixins //////////////////
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

body {
	color: $red;
	// font-family: 'Raleway', sans-serif;
	// font-family: 'Passion One', cursive;
	font-weight: 400;
	text-align: center;
}

h1, h2, h3, h4, {
	text-align: center;
	font-family: 'Passion One', cursive;
	// margin-bottom: 0;
}

h1 {
	font-size: 5.5em;
}

h2 {
	font-size: 4em;
}

h4 {
	margin-bottom: 1em;
}

p {
	text-align: center;
	margin-bottom: 0;
}

button {
	background-color: $red;
	border: 2px solid white;
	color: white;
}

button:hover {
	background-color: $green;
}
////////////////Global Classes//////////////
.full-width {
	width: 100%;
}

.row {
	padding: 50px;
	max-width: 100%;
	box-sizing: border-box;
}


.banner {
	background-color: $red;
	max-width: 100%;
	height: 60vh;
	// position: absolute;
}


.header {
	background-color: $green;
	height: 100vh;
	max-width: 100%;
	h1 {
		@include vertical-align;
	}
}
.top-bar {
// line-height: 2em;
}

.portfolio-pic {
  position: relative;
  box-sizing: border-box;
  height: 300px;
  padding: 0;
  overflow: hidden;;
	img {
    /* Makes sure the bottoms are perfectly matched up */
    	display: block;
    	height: 100%;
    	width: 100%;
	}
	img:hover {
		transform: scale(1.1); 
	}
	p {
		text-align: center;
		font-size: 1.5em;
		text-decoration: underline;
		@include vertical-align;
	}
}

.overlay {
	/* The div holding the transparent bg and description caption */
	position: absolute;
	bottom: 0;
	left: 0;

	background-color: $blue;
	color: white;
	text-align: center;

	width: 100%;
	height: 100%;

	/* sets the default of the description to not show when not hovered over */
	opacity: 0;
	@include transition(all .3s ease);
	// -webkit-transition: all 0.3s ease;
	// -moz-transition: all 0.3s ease;
	// -ms-transition: all 0.3s ease;
	// -o-transition: all 0.3s ease;
	// transition: all 0.3s ease;
}

.portfolio-pic:hover .overlay{
    /* If hover over img area, transition transparent description bg on img */
	opacity: 0.8;
}

.portfolio-pic:hover .grow {
	transform: scale(1.1); 
}

// .grow { 
// 	transition: all .2s ease-in-out; 
// }

.grow:hover { 
	transform: scale(1.1); 
}

#profile {
	padding: 100px;
}

#skills {}
// #tool-container {
// 	position: relative;
// }
#tools {
	color: white;
	background-color: $red;
	padding: 50px;
	width: 100%;
	height: 50vh;
	// top: 0%;
	// bottom: 0;
	z-index: 5;
	// background-image: url('../images/leo.png');
	// background-position: 50%;
	// background-attachment: fixed;
	// position: absolute; 	
	// height: 50vh;
	ul {
		margin-bottom: 0;
		// position: fixed;
	}
}

/////////////GETTING CLOSER///////////
// .tool {
// 	position: absolute;
// 	top: 50%;
// 	bottom: 50;
// 	color: white;
// 	z-index: 10;
// }

#work {}

#portfolio {
	padding: 0;
}

#play {}

#contact {
	background-color: $grey;
}

.text-emphasis {
	text-align: center;
	font-size: 1.5em;
}

.skill {
	background-color: $grey;
	box-sizing: border-box;
	padding: 15px;
	// margin: 10px;
}
#footer {
	// width: 90%;
	// margin-top: 150px auto;
	margin: 0 auto;
	text-align: center;
	a {
		text-align: center;
	}
}
.social-container {
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: 15px;
	overflow: hidden;
	border: 3px solid white;
	transform: rotate(-45deg);
	position:relative;
	@include transition(all .3s ease);
	img {
		transform: rotate(45deg);
		// margin: 10px;;
		position:absolute;
		height: 30px;
		top:12px;
 		left:12px;
	}

}

.social-container:hover {
	background-color: $red;
}
// .other {
// 	height: 40vh;
// }
